@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    font-family: "Montserrat" ,sans-serif;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    position: relative;
    top: 0;
    left: 0;
    padding: 10px 50px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s linear;
}
.sticky{
    background-color: #fff;
}
header.sticky{
    background: #fff;
    padding: 20px 50px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
header .container{
    width: 50%;
    position: relative;
    display: flex;
}
header .container .logo > img{
    color: rgb(240, 74, 13);
}
header .navigation{
    display: flex;
    position: relative;
    list-style: none;
    height: 100%;
}
header .navigation .flash-tatic{
    margin-left: 50px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
header .navigation .flash-tatic a{
    display: inline-block;
    color: #fff;
    font-weight: 500;
}
header.sticky .navigation .flash-tatic a{
    color: #333333;
    font-weight: 500;
}
header.sticky .navigation .flash-tatic i{
    cursor: pointer;
    font-size: 17px;
}
header .navigation .flash-tatic:hover > a{
    color: #017c4b;
    font-weight: 500;
    border-bottom: 2px solid #333333;
}
.banner{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.banner .content{
    width: 100%;
    min-height: 700px;
    background-image: #fff;
}
.banner .content .lg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.banner .content .logo{
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.banner .content .logo .logo1{
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 20%;
    transform: translateX(-50%);
    position: absolute;
    object-fit: contain;
    z-index: 2;
}
.banner .content .logo .logo2{
    bottom: -50px;
    left: 25%;
    width: 50%;
    height: 20%;
    transform: translateX(-50%);
    position: absolute;
    object-fit: contain;
}
.banner .content .logo .logo3{
    bottom: 70px;
    left: 40%;
    width: 50%;
    height: 20%;
    transform: translateX(-50%);
    position: absolute;
    object-fit: contain;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation: example .5s;
}
.banner .content .logo .logo4{
    bottom: -60px;
    left: 60%;
    width: 50%;
    height: 20%;
    transform: translateX(-30%);
    position: absolute;
    object-fit: contain;
    z-index: 1;
}
.banner .content .logo .logo5{
    bottom: 30px;
    left: 50%;
    width: 50%;
    height: 20%;
    transform: translateX(-30%);
    position: absolute;
    object-fit: contain;
    z-index: 1;
}
.banner .content .logo .logo6{
    bottom: 0;
    left: -150px;
    width: 40%;
    height: 40%;
    transform: translateY(-50%);
    position: absolute;
    object-fit: contain;
}
.banner .content .logo .logo7{
    bottom: 350px;
    left: 100px;
    width: 10%;
    height: 10%;
    transform: translateY(-50%);
    position: absolute;
    object-fit: contain;
}
.banner .content .logo .logo8{
    bottom:250px;
    left: 280px;
    width: 10%;
    height: 10%;
    transform: translateY(-50%);
    position: absolute;
    object-fit: contain;
    transform: rotate(45deg);
}
.banner .content .logo .logo9{
    bottom: 250px;
    left: 150px;
    width: 20%;
    height: 20%;
    transform: translateY(-50%);
    position: absolute;
    object-fit: contain;
}
.banner .content .logo .logo10{
    bottom: 350px;
    left: 150px;
    width: 20%;
    height: 20%;
    transform: translateY(-50%);
    position: absolute;
    object-fit: contain;
}
.banner .content .logo .logo11{
    bottom: 250px;
    right: 50px;
    width: 20%;
    height: 20%;
    transform: translateY(-50%);
    position: absolute;
    object-fit: contain;
}
section{
    margin-bottom: 100px;
}
section .row{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
section .row .col1{
    width: 48%;
    margin-left: 40px;
}
section .row .col1 h2{
    font-size: 150px;
    font-weight: 400;
    text-align: center;
    color: #017c4b;
    line-height: 13 0px;
}
section .row .col1 span{
    font-weight: 400;
    color: #333333;
}
section .row .col1 h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 40px;
}
section .row .col1 p{
    font-size: 15px;
    letter-spacing: 1.1;
}
section .row .col1 img{
    width: calc(90% - 40px);
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
}
.row .col2{
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-left: 20px;
}
.row .col2 .col3{
    width: 30%;
    margin-left:40px;
}
.row .col2 .col3 img{
    width: calc(100% - 20px);
    height: 300px;
    margin-left: 10px;
    object-fit: cover;
}
.row .col2 .col7{
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
a ~ a{
    margin-bottom: 20px;
}
.row .col2 .col7 .aboard{
    display: inline-block;
   padding-top: 10px;
   padding-bottom: 5px;
   padding-right: 20px;
   border-bottom: 1px solid #13ab70;
   width: 130px;
   color: #13ab70;
}
.row .col2 .col7 .desc{
    font-size: 35px;
    color: #333333;
    font-weight: 500;
}
.row .col2 .col7 .desc:hover{
    color: #13ab70;
}
.row .col2 .col7 .date{
    font-size: 15px;
}
.row .col2 .col7 .comment{
    display: inline-block;
    padding: 10px;
   border: 1px solid #13ab70;
   width: 130px;
   color: #13ab70;
   margin-top: 35px;
}
.row .col2 .col7 .comment:hover{
    border: 1px solid red;
}
.row .col2 .col7 .comment:hover > a{
   color:rgb(240, 74, 13);
}
.row .col2 .col7 span{
    width: 100%;
    border-bottom: 1px solid #333333;
}
.row .col4{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.row .col4 .aboard1{
    display: inline-block;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border: 0;
    color: #13ab70;
    border-bottom: 1px solid;
    width: 120px;
}
.row .col4 img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-right: 50px;
}
.container1{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: flex-start;
    width: 100%;
    padding: 20px 4px;
    padding-left: 30px;
    background-color: #13ab70;
    height: 400px;
}
.container1 .code3{
    width: calc(25% - 30px);
    margin-left: 15px;
    display: flex;
    flex-wrap: wrap;
}
.container1 .code3 p{
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 20px;
}
.container1 .code3 p a{
    color: #fff;
    font-weight: 500;
    transition: 0.3s linear;
}
.container1 .code3 p a:hover{
    color: #13ab70;
}
.container1 .code3 h2{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}
.container1 .code3 span{
    display: inline-block;
    border-top: 2px solid #fff;
    width: 30px;
    position: absolute;
    top:50px;
}
.container1 .code3 h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}
.container1 .code3 ul{
    list-style: none;
}
.container1 .code3 ul li{
    margin-bottom: 30px;
    transition: 0.3s linear;
}
.container1 .code3 ul li a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.container1 .code3 ul .flash-moke:hover > a{
    color: #13ab70;
}
.sm{
    margin: 30px 0;
}
.sm a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: 0.5s linear;
    background: linear-gradient(to bottom,rgba(255,122,22,0.5),rgba(100,122,22,0.5));
}
.sm a:hover{
    background: rgb(150, 43, 43);
    color: #fff;
    border: 0;
    transform: rotate(360deg);
}
.row .abc:before{
    content: "";
    width: 100%;
    border-bottom: 1px solid #333;
    z-index: 2;
    margin-top: 2px ;
}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}


.b1{
    font-size: 30px;
    font: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b2{
    border: 1px solid black;
    width: 250px ;
    height: 199px;
}
.img1{
    width: 300px;
    height: 100px;
    padding: 20px;
}
div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }

.btn {
    background-color: #4CAF50; /* Green */
    border: 1px solid black;
    color: rgb(16, 233, 113);
    padding: 15px 40px;
    text-align: center;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
